
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* toto je code ktory moze zachranit ten obrazok pri responsive web */
/* #mainphoto{
    background: url('/src/stylesheets/imgs/portrait.jpg');
    width: 600px;
    height: 400px;
    background-size: cover;
    border: 2px solid red;
} */

#mainphoto img{
    width: 55%;
    height: auto;
    position:relative;
    bottom: 7rem;
    left: 4rem;
    z-index: 1;
    clip-path: polygon(23% 0, 92% 23%, 72% 94%, 11% 86%);

    max-width: 100%;
}

.maintitle{
    padding: 0 1em;
}

.maintitle h1{
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 200;
    color: white;
    position: absolute;
    left: 53%;  
    bottom: 35%;
}

.maintitle strong{
    color: rgba(75, 255, 165, 0.977);
}

.typing-effect {
    position: absolute;
    bottom: 3rem;
    left: 25rem;
    font-size: 5.5rem;
    color: white;
    
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 99.9%;
    height: 2.5rem; 
}
