* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
strong{
    color: rgba(75, 255, 165, 0.977);
}
.mainPageLine{
    margin: 0px 10vw;
}

#mainphoto img{
    position: relative;
    width: 55%;
    bottom: 2em;
    left: 4em;
    clip-path: polygon(23% 0, 92% 23%, 72% 94%, 11% 86%);
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
}

.maintitle{
    height: 92vh;
    padding: 0 1em;
    z-index: 2;
}

.maintitle h1{
    color: white;
    position: relative;
    left: 50%;  
    bottom: 7em;
    max-width: calc(34vw + 5rem);
    width:auto;
    height: auto;
    font-size: 1.7vw;
    line-height: 1.5;
    font-weight: 200;
}

.typing-effect {
    width: 50vw;
    position: relative;
    bottom: 8vh;
    left: 25vw;
    display: flex;
    align-items: center;
    font-size: 5vw;
    color: white;
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 99.9%;
    height: 3.5vh; 
}

@media (max-width: 720px){
    body{
        overflow-x: hidden;
    }
    #mainphoto {
        width: 100vw;
        height: auto;
    }
    #mainphoto img{
        width: 150vw;
        height: auto;
        object-fit: contain;
        object-position: center; 
        right: calc(20% + 1rem);
        left: auto;
        right: 30vw;
    }
    .maintitle{
        position: relative;
        top: 4vh;
    }
    .maintitle h1{
        font-size: 5.5vw;
        left: 0.25em;
        right: 1em;
        bottom: 5vh;
        max-width: calc(73vw + 5rem);
    }
    .typing-effect{
        font-size: 8vw;
        left: 0.25em;
        bottom: 3vh;
    }
    .footer{
        height: 2rem;
    }
}

@media (min-height: 1000px) and (orientation: portrait){
    body{
        overflow-x: hidden;
    }
    #mainphoto img{
        width: 120vw;
        height: auto;
        object-fit: contain;
        object-position: center; 
        right: calc(20% + 1rem);
        left: auto;
        right: 15vw;
    }
    .maintitle{
        position: relative;
        top: 4vh;
    }
    .maintitle h1{
        font-size: 5vw;
        left: 0.25em;
        right: 1em;
        bottom: 5vh;
        max-width: calc(73vw + 5rem);
    }
    .typing-effect{
        font-size: 7vw;
        left: 0.25em;
        bottom: 3vh;
    }
    .footer{
        height: 2rem;
    }
}
